html {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: 100%;
  background-image: url('small_steps.png');
}
.resumeWrapper {
  width: 900px;
  height: 1010px;
  margin: 0 auto;
}

object {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
